.container {
  display: flex;
  align-items: center;
  padding: 15px;
  border-bottom: 0px solid black;
  box-shadow: 0px 1px 13px rgb(0 0 0 / 2%), 0px 1px 1px rgb(0 0 0 / 4%),
    0px 2px 11px rgb(0 0 0 / 20%);
}

.mainContainer {
  width: 1200px;
  margin: auto;
}

.list {
  list-style: none;
  display: flex;
}

.authNav {
  margin-left: auto;
}

.item {
  text-decoration: none;
  color: black;
  font-size: 24px;
  font-weight: 500;
}

.activeItem {
  color: #ed3a3a;
}

.item:not(:last-child) {
  margin-right: 20px;
}
